<form [formGroup]="form">
  <div class="row no-gutters align-items-center">
    <div class="col-auto" style="min-width: 65px">
      train
    </div>
    <div class="col-2">
      <mat-slider
        #datasetSlider
        min="0.01"
        step="0.01"
        max="0.98"
        formControlName="train"
        class="w-100"
      ></mat-slider>
    </div>
    <div class="col-auto ml-2">
      {{datasetSlider.value | percent:'1.0-2'}}
    </div>
  </div>
  <div class="row no-gutters align-items-center">
    <div class="col-auto" style="min-width: 65px">
      validate
    </div>
    <div class="col-2">
      <mat-slider
        #validationSlider
        min="0.01"
        step="0.01"
        max="0.98"
        formControlName="validate"
        class="w-100"
      ></mat-slider>
    </div>
    <div class="col-auto ml-2">
      {{validationSlider.value | percent:'1.0-2'}}
    </div>
  </div>
  <div class="row no-gutters align-items-center">
    <div class="col-auto" style="min-width: 65px">
      test
    </div>
    <div class="col-2">
      <mat-slider
        #testingSlider
        min="0.01"
        step="0.01"
        max="0.98"
        formControlName="test"
        class="w-100"
      ></mat-slider>
    </div>
    <div class="col-auto ml-2">
      {{testingSlider.value | percent:'1.0-2'}}
    </div>
  </div>
</form>
