<div class="m-2">
  <div class="row no-gutters">
    <div class="col-auto border-bottom border-dark px-2" routerLinkActive="border-bottom-0"
         [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="california-housing">california-housing</a>
    </div>
    <div class="col-auto border-bottom border-left border-dark px-2" routerLinkActive="border-bottom-0"
         [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="cars">cars</a>
    </div>
    <div class="col-auto border-bottom border-left border-dark px-2" routerLinkActive="border-bottom-0"
         [routerLinkActiveOptions]="{exact: true}">
      <a routerLink="digit">digit</a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
