<div class="container-fluid">
  <app-dataset-range (range)="setRange($event)"></app-dataset-range>
  <form [formGroup]="form">
    <div class="mt-3">
      <mat-radio-group formControlName="modelType">
        <div class="row">
          <div class="col-auto">
            <mat-radio-button [value]="modelTypesEnum.LINEAR">Linear</mat-radio-button>
          </div>
          <div class="col-auto">
            <mat-radio-button [value]="modelTypesEnum.LOGISTIC">Logistic</mat-radio-button>
          </div>
        </div>
      </mat-radio-group>
    </div>
    <div class="mt-3">
      <button
        type="button"
        mat-flat-button
        color="primary"
        (click)="getDataset()"
        [disabled]="form.invalid"
      >
        Get Dataset
      </button>
    </div>
  </form>
</div>
