<div class="container-fluid">
  <app-dataset-range (range)="setRange($event)"></app-dataset-range>
  <div class="mt-3">
    <button
      type="button"
      mat-flat-button
      color="primary"
      (click)="getDataset()"
    >
      Get Dataset
    </button>
  </div>
</div>
