@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.css-b1qls.tf-surface {
  max-height: initial;
  max-width: initial;
}
